<html ng-app="myApp">  
    <head lang="en">
        <meta charset="utf-8">
        <title>Getting Started With ngGrid Example</title>  
        <link rel="stylesheet" type="text/css" href="ng-grid.min.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="ng-grid-2.0.11.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </head>
    <body ng-controller="MyCtrl">
     <button  ng-click="addItem()" >Create</button>
       <!-- <button  ng-click="allItems()" >Last Name</button>-->
        <button  ng-click="remove()"> Destroy</button>
         <div class="gridStyle" ng-grid="gridOptions"></div>
       
    </body>
</html>