<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
  <groups>
         <run>
            <exclude name = "B" />
            <include name = "A" />
         </run>
      </groups>
    <classes>
      <class name="Com.capg.DemoSelenium43.TestngDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
