<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.selenium.project/src/selenium/Demo/Pack1/Add_to_Cart.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="selenium.Demo.Pack1.Add_to_Cart"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.selenium.project"/>
</launchConfiguration>
