<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/selenium_3_Project/src/screenshot_pkg/Screenshot_Ashot_Demo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="screenshot_pkg.Screenshot_Ashot_Demo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="selenium_3_Project"/>
</launchConfiguration>
